.zhifou {
  .main {
    margin-top: 10px;
    margin-bottom: 10px;
    .ivu-card {
      border-radius: 2px;
      & + .ivu-card {
        margin-top: 10px;
      }
      .ivu-list-item-action{
        text-align: right;
        &>li:last-child{
          padding-right: 0px;
        }
      }
    }
    .nav_com{
      background: white;
      li{
        height: 32px;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        &:hover{
          color: white;
          background: #FF5722;
        }
      }
    }
  }
}
